@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: url('background.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Google Sans';
	color: white;
	min-height: 100vh;
	overflow: hidden;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.input-container {
	background-color: rgba(0, 0, 0, 0.3);
	width: 575px;
	height: 550px;
	border-radius: 20px;
	margin: 10px;
	border: 1px solid white;
	color: white;
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(10px);
}

.label {
	margin-top: 20px;
	margin-bottom: 7px;
	margin-left: 19px;
}

input {
	width: 535px;
	height: 30px;
	border-radius: 10px;
	outline: none;
	box-shadow: none;
	border: none;
	margin-left: 15px;
	font-size: 17px;
	padding-left: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.calculateButton {
	margin-top: 30px;
	width: 575px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	width: 125px;
	height: 50px;
	text-align: center;
	border: 1px solid white;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.button:hover {
	color: black;
	background: white;
}

.result-container,
.tower-container {
	/* background-color: black; */
	width: 287.5px;
	height: 550px;
	border-radius: 20px;
	margin: 10px;
	border: 1px solid white;
	color: white;
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(10px);
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.3);
}

.tower-container {
	justify-content: center;
	align-items: center;
}

.result-container {
	display: flex;
	justify-content: flex-start
}

.result .label {
	font-size: 15px;
}

span {
	margin-left: 18px;
	font-size: 30px;
	font-weight: 900;
}

.split {
	width: 287.5px;
	height: 0.3px;
	background-color: white;
	margin-top: 10px;
}

.target .label {
	font-size: 13px;
}

.target span {
	margin-left: 18px;
	font-size: 13px;
}

.item {
	display: flex;
	flex-direction: row;
}

.d,
.xl {
	width: 100px;
	height: 40px;
	border: 1px solid white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: default;
}

.item.m1:hover,
.item.m1.active {
	background-color: #B71C1C;
}

.item.m2:hover,
.item.m2.active {
	background-color: #D32F2F;
}

.item.m3:hover,
.item.m3.active {
	background-color: #F44336;
}

.item.m4:hover,
.item.m4.active {
	background-color: #FF5722;
}

.item.m5:hover,
.item.m5.active {
	background-color: #FF9800;
}

.item.m6:hover,
.item.m6.active {
	background-color: #FBC02D;
}

.item.m7:hover,
.item.m7.active {
	background-color: #CDDC39;
}

.item.m8:hover,
.item.m8.active {
	background-color: #4CAF50;
}

.item.m9:hover,
.item.m9.active {
	background-color: #1B5E20;
}

footer {
	display: flex;
	justify-content: flex-end;
}